.button {
  display     : inline-block;
  position    : relative;
  min-width   : $u10;
  height      : $input-size;
  user-select : none;
  cursor      : default;

  .icon {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    width       : $icon-size;
    height      : $icon-size;
    margin-top  : -$icon-size/2;
    margin-left : -$icon-size/2;
  }
}

.button_text {
  padding     : 0 $u4;
  text-align  : center;
  font-size   : $font-size - 1;
  line-height : $input-size;

  .button:hover & {
    color : $red;
  }

  .button:active & {
    line-height : $input-size + 1;
  }
}

.button_face {
  position   : absolute;
  bottom     : 0;
  left       : 0;
  width      : 100%;
  height     : $u3;
  border     : 1px solid #000;
  border-top : 0;
}
