.popout {
  z-index             : 2;
  position            : absolute;
  width               : $u50;
  padding             : $u2 $u4;
  border              : 1px solid #000;
  border-bottom-width : 2px;
  background          : #fff;
}

.popout-editTime {
  width : $u70;

  .control {
    width : $u40;

    .button {
      min-width : $u15;
    }
  }

  .input-hours,
  .input-minutes,
  .input-seconds {
    display : inline-block;
    width   : $u12;
  }
}
