.popout {
  z-index             : 2;
  position            : absolute;
  width               : $u50;
  border              : 1px solid #000;
  border-bottom-width : 2px;
  background          : #fff;

  .content_body {
    padding: 0 $u4 $u4;
  }

  .control {
    margin-top: $u2;

    .button {
      width: $u22;
      & + .button .button_face {
        border-left: 0;
      }
    }

    .button_face {
      border-bottom: 1px solid #000;
    }
  }
}

.popout-editTime {
  width: $u70;
}
