.time-tracker {
  z-index       : 2;
  position      : absolute;
  top           : 0;
  right         : 0;
  left          : $u80;
  height        : $u9;
  border-bottom : 1px solid #000;

  .timer {
    margin-top : $u;
  }

  .control {
    .button_face {
      border-bottom : 0;
    }

    .button + .button .button_face {
      border-left : 0;
    }
  }
}

.time-tracker_control {
  position   : absolute;
  top        : 0;
  right      : $u;
  width      : $u100;
  text-align : right;
}
