.timer {
  width : 100%;
}

.timer_hours,
.timer_minutes,
.timer_seconds,
.timer_seperator {
  $h             : $u6;
  display        : inline-block;
  font-size      : $h;
  font-weight    : bold;
  line-height    : $h;
  letter-spacing : -1px;
}

.timer_seperator {
  display : inline-block;
}
