.input-slider {
  display     : inline-block;
  position    : relative;
  width       : 100%;
  height      : $input-size;
  user-select : none;
  cursor      : default;
}

.input-slider_track {
  $h            : $u;
  position      : absolute;
  top           : 50%;
  left          : 0;
  width         : 100%;
  height        : $h;
  margin-top    : -$h/2;
  border        : 1px solid #000;
  border-radius : $h/2;
}

.input-slider_thumb {
  $h            : $u3;
  position      : absolute;
  top           : 50%;
  left          : 0;
  width         : $h;
  height        : $h;
  margin-top    : -$h/2;
  border        : 2px solid #000;
  border-radius : 50%;
  background    : #fff;
}

.input-slider_progress {
  $h            : $u;
  position      : absolute;
  top           : 50%;
  left          : 0;
  height        : $h;
  margin-top    : -$h/2;
  border-radius : $h/2;
  background    : #000;
}

.input-sider_marker-container {
  padding-right : $u * 1.5;
  padding-left  : $u * 1.5;
}

.input-slider_marker {
  display     : inline-block;
  height      : $u;
  margin-top  : $u6;
  border-left : 1px solid #000;
}

.input-slider_marker--is-last {
  border-right : 1px solid #000;
}
