.input-time {
  width: 100%;
  position: relative;
}

.input-hours,
.input-minutes,
.input-seconds {
  display : inline-block;
  width   : 33.3333%;
  position: relative;
}

.input-time_separator {
  z-index: -1;
  top: 0;
  position: absolute;
  font-size: $font-size;
  line-height: $input-size;
  height: $input-size;
  left: 33.33333%;
  width: $u4;
  margin-left: -$u2;
  & ~ .input-time_separator {
    left: 66.66666%;
  }
}