.empty {
  margin-top: $u4;
  text-align: center;
  user-select: none;

  .icon {
    width: $u20;
    height: $u20;
    margin-bottom: $u3;
    fill: $grey-light;
  }

  h5 {
    color: $grey-light;
  }
}