.empty {
  margin-top: $u8;
  text-align: center;
  user-select: none;
  display: inline-block;
  width: 100%;

  .icon {
    width: $u16;
    height: $u16;
    margin-bottom: $u3;
    fill: $grey-light;
  }

  h5,
  h6 {
    color: $grey-light;
  }
}