.todo-list {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: right 0.3s;
}

.todo-list--category-id {
  padding-left: $u76;

  .viewport {
    border-left: 1px solid $grey-light;
  }
}

.todo-list--todo-id {
  right: $u90;
}
