$red: #bb2248;
$red-light: lighten($red, 15%);

$pink: adjust-hue($red, -20deg);
$pink-dark: darken($pink, 15%);
$pink-light: lighten($pink, 15%);

$blue: adjust-hue($red, 200deg);
$blue-dark: darken($blue, 15%);
$blue-light: lighten($blue, 15%);

$green: adjust-hue($red, 175deg);
$green-light: lighten($green, 15%);
$green-lightest: adjust-hue(lighten($green, 40%), -5deg);

$yellow: adjust-hue($red, 70deg);
$yellow-light: lighten($yellow, 15%);

$yellow: adjust-hue($red, 68deg);
$yellow-light: lighten($yellow, 15%);

$orange: lighten(adjust-hue($red, 35deg), 5%);
$orange-light: lighten($orange, 15%);

$black: darken(desaturate($blue, 5%), 36%);
$black-light: desaturate(lighten($black, 11%), 20%);
$black-lightest: desaturate(lighten($black, 18%), 20%);

$grey: desaturate($blue, 52%);
$grey-light: lighten($grey, 24%);
$grey-lightest: lighten($grey, 48%);

$primary: $blue;
$primary-light: $blue-light;
$primary-dark: $blue-dark;

$danger: $red;
$danger-light: $red-light;

$positive: $green;
$positive-light: $green-light;
