.markdown-editor_result {
  .smart-scroll_content {
    padding: $u6;
  }
}

.markdown-editor {
  height: 100%;
}

.markdown-editor_editor {
  height: 100%;

  & .CodeMirror {
    height: 100%;
    border: 0;
  }
}