.slide-out-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.slide-out-container_shadowbox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.slide-out-container_chrome {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: $u100;
  background: #fff;
  box-shadow: -2px 0 $u2 rgba(0, 0, 0, 0.3);
}

.slide-out {
  .viewport_body {
    padding: $u4;
  }
}