.type-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: $black;
  bottom: 0;

  h6 {
    color: #fff;
  }

  .titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: $black-light;
  }

  &_items {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: $titlebar-size;
  }


  &_categories_item-select {
    .icon {
      fill: $grey-lightest;
    }
  }

  .menu-item {
    padding-left: 0;
  }

  .titlebar {
    padding-left: 0;
  }

  .titlebar_left h6 {
    margin-left: 0;
  }
}

.type-menu_categories_item {
  display: inline-block;
  padding: $u3;
  position: relative;
  width: 100%;

  .icon {
    width: $u6;
    height: $u6;
    fill: $grey;
  }

  label {
    position: absolute;
    left: $u13;
    top: $u4;
    color: $grey-light;
    width: 100%;
  }
}

.app-depth-0 {
  .type-menu {
    width: 100%;
  }
}

.app-depth-1 {
  .type-menu {
    width: $u53;
  }
}

.app-depth-2 {
  .type-menu {
    width: $u13;
  }
}