.type-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: $black-light;
  bottom: 0;
  transition: width 0.3s;
  z-index: 2;
  width: 100%;


  h6 {
    color: #fff;
    transition: font-size 0.3s;
  }

  label {
    transition: opacity 0.3s, font-size 0.3s;
  }

  .titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: $black-light;
  }

  &_items {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: $titlebar-size;
  }


  &_categories_item-select {
    .icon {
      fill: $grey-lightest;
    }
  }

  .menu-item {
    padding-left: 0;
  }

  .titlebar {
    padding-left: 0;
  }

  .titlebar_left h6 {
    margin-left: 0;
  }
}

.type-menu_categories_item {
  display: inline-block;
  padding: $u3;
  position: relative;
  width: 100%;
  height: $u11;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background: $black-light;
    z-index: -1;
  }

  .icon {
    width: $u5;
    height: $u5;
    fill: $grey;
    margin-top: -$u5/2;
    position: absolute;
    margin-left: $u;
    top: 50%;
    transition: fill 0.3s;
  }

  label {
    padding-top: $u;
    padding-left: $u10;
    color: $grey-light;
    white-space: nowrap;
    line-height: $u3;
  }
}

.type-menu_categories_item--select {
  .icon {
    fill: $primary;
  }

  label {
    color: $primary;
  }
}

.type-menu--type {
  width: $u53;

  .type-menu_categories_item {
    display: inline-block;
    padding: $u3;
    position: relative;
    width: 100%;
  }

}

.type-menu--category-id {
  width: $u12;

  label {
    opacity: 0;
  }

  .type-menu_categories_item--select {
    &:after {
      width: 100%;
    }
  }
}