.list-item {
  position: relative;
  padding: $u2 0 $u3;
  border-bottom: 1px solid $grey-light;

  .button_face {
    top: $u2;
    right: $u2;
    left: $u2;
    bottom: $u2;
  }
}

.list-item_content {
  position: relative;
}

.list-item-passive {
  background: $grey-lightest;

  .list-item_title *,
  .list-item_timestamp .timestamp {
    color: $grey-light;
  }
}

.list-item_title {
  padding: $u $u3;
}

.list-item_body {
  padding: $u;
}

.list-item_feet {
  padding: $u;
}

.list-item-primary-action {
  padding-left: $u11;
}

.list-item-primary-action .list-item_timestamp {
  padding-left: $u3;
}

.list-item-secondary-action .list-item_timestamp {
  padding-left: $u3;
}

.list-item-primary-action.list-item-timestamp .list-item_title {
  padding-bottom: 0;
}

.list-item_primary-action {
  position: absolute;
  left: $u2;
  top: $u2;
  z-index: 1;
}

.list-item_secondary-action {
  position: absolute;
  right: $u2;
  top: $u2;
  z-index: 1;
}

.list-item_link {
  position: absolute;
  left: 0;
  right: 0;
  top: -$u2;
  bottom: -$u3;
}

.list-item {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: $primary;
    transition: width 0.2s, opacity 0.3s;
    opacity: 0;
    width: 0;
  }

  &.list-item--active {
    &:after {
      width: 4px;
      opacity: 1;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      bottom: -1px;
      right: 0;
      border: 2px solid $primary;
    }
  }
}