.list-item {
  position: relative;
  user-select: none;
  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.list-item_content {
  position: relative;
}

.list-item-passive {
  background: $grey-lightest;

  .list-item_title *,
  .list-item_timestamp .timestamp {
    color: $grey-light;
  }
}

.list-item_title {
  padding: $u $u3;
}

.list-item_body {
  padding: $u;
}

.list-item_link {
  position: absolute;
  left: 0;
  right: 0;
  top: -$u2;
  bottom: -$u3;
}

.list-item_control-bounds {
  padding: $u2 0 $u3;
  position: relative;
}

.list-item-select {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
}

.list-item--selected {
  .timestamp,
  h6,
  p {
    color: #fff;
  }
  .list-item-select {
    opacity: 1;
    background: $primary;
  }
}