.viewport {
  width: 100%;
  height: 100%;
  position: relative;
}

.viewport_titlebar {
  height: $titlebar-size;

  .button_face {
    background: none;
  }

  .button .icon {
    fill: $grey-light;
  }
}

.viewport_toolbar {
  position: relative;
  height: $titlebar-size;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $grey-light;
  }
}

.viewport_feet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $titlebar-size;
  border-top: 1px solid $grey-light;
}