.viewport {
  width: 100%;
  height: 100%;
  position: relative;
}

.viewport--body-overflow .viewport_body {
  overflow-y: scroll;
}

.viewport_body {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  padding-bottom: $u8;
  overflow: hidden;
}

.viewport--titlebar {
  .viewport_body {
    top: $titlebar-size;
  }
}

.viewport_titlebar {
  height: $titlebar-size;

  .button_face {
    background: none;
  }

  .button .icon {
    fill: $grey-light;
  }
}

.viewport_toolbar {
  position: relative;
  height: $titlebar-size;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $grey-light;
  }
}

.viewport--titlebar.viewport--toolbar {
  .viewport_body {
    top: ($titlebar-size * 2);
  }
}

.viewport--feet .viewport_body {
  bottom: $titlebar-size;
}

.viewport_feet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $titlebar-size;
  border-top: 1px solid $grey-light;
}