.swatch {
  width: $input-size;
  position: relative;
  height: $input-size;
  display: inline-block;
}

.swatch-hue {
  .swatch_color,
  .swatch_face {
    transition: transform 0.2s, box-shadow 0.2s;
  }

  &:hover {
    .swatch_color {
      transform: translateY(-1px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .swatch_face {
      transform: translateY(-1px);
    }
  }
}

.swatch-select {
  .swatch_select {
    position: absolute;
    border: 1px solid $red;
    left: 4px;
    top: 4px;
    bottom: 4px;
    right: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
    border-radius: 2px;
    z-index: 1;
  }
}

.swatch_color {
  position: absolute;
  left: $u2;
  top: $u2;
  bottom: $u2;
  right: $u2;
  background: linear-gradient(-45deg, #fff 44%, $red 45%, $red 55%, #fff 56%);
}

.swatch_face {
  position: absolute;
  left: $u2;
  top: $u2;
  bottom: $u2;
  right: $u2;
  border: 1px solid transparentize($black, 0.7);
}