.titlebar {
  position: relative;
  padding: $u2 $u2;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid $grey-light;
  }

  h6 {
    margin-top: 0;
    margin-left: $u2;
    line-height: $input-size;
  }
}

.titlebar_content {
  position: relative;
  height: $titlebar-size - $u4;
  display: inline-block;
  width: 100%;
}

.titlebar_left {
  position: absolute;
  left: 0;
  top: 0;
}

.titlebar_primary-action {
  text-align: right;
  position: absolute;
  left: 0;
  top: 0;
}

.titlebar_secondary-action {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.titlebar_center {
  text-align: center;
  width: 100%;
}