.titlebar {
  position: relative;
  padding: $u $u2;
  height: $titlebar-size;

  .tab-bar {
    margin-left: -$u2;
    margin-top: -$u;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid $grey-light;
  }

  .title-and-input {
    width: 100%;
  }

  h6 {
    margin-top: 0;
    margin-left: $u2;
    padding: $u2 0;
    line-height: $input-size - $u4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.titlebar_content {
  position: relative;
  height: $titlebar-size - $u4;
  display: inline-block;
  width: 100%;
}

.titlebar_left {
  position: absolute;
  left: 0;
  top: 0;
}

.titlebar_primary-action {
  text-align: right;
  position: absolute;
  left: 0;
  top: 0;
}

.titlebar_secondary-action {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: $u;

  .button_face {
    background: none;
    bottom: $u + 2px;
    left: $u + 2px;
    right: $u + 2px;
    top: $u + 2px;
  }

  .button {
    .icon {
      fill: $grey-light;
    }
  }

  .button-active {
    .button_face {
      background: $primary-lightest;
    }

    .icon {
      fill: $primary;
    }
  }
}

.titlebar_center {
  text-align: center;
  width: 100%;
}

.titlebar {
  .input-wrapper_face::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    border-radius: 2px;
    opacity: 0;
    border: 2px solid $primary;
    transition: opacity 0.2s, left 0.2s, top 0.2s, right 0.2s, bottom 0.2s;
  }

  .input-wrapper--focus {
    .input-wrapper_face::after {
      left: -1px;
      right: -1px;
      bottom: -1px;
      top: -1px;
      content: "";
      opacity: 1;
    }
  }

  .input-wrapper--icon .input-wrapper_input input {
    padding-left: $u9;
  }

  .input-wrapper_face {
    background: $grey-lightest;
    border-radius: 2px;
  }

  .input-wrapper_icon {
    left: $u3;
  }

  .input-wrapper:after {
    background: none;
  }
}