.title-and-input {
  display: inline-block;
  height: $input-size;
  position: relative;

  h6 {
    transition: opacity 0.3s;
    user-select: none;
  }

  .input-wrapper {
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      background: 0;
    }

    input {
      color: $black-lightest;
      padding: 0 $u3;
      font-weight: bold;
    }
  }

  .input-wrapper_face {
    background: $grey-lightest;
    border-radius: 2px;
  }

  .button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.title-and-input_title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-right: $u10;
  display: inline-block;
}

.title-and-input--show-input {
  .input-wrapper {
    opacity: 1;
  }

  h6 {
    opacity: 0;
  }
}

%title-and-input-dark {
  .input-wrapper_face {
    background: $black-lightest;
  }

  input {
    color: $grey-lightest;
  }
}