.todo-priority {
  margin-top: $u;
}

.todo-priority_element {
  display: inline-block;
  width: $u2;
  height: $u2;
  border-radius: 50%;
  border: 1px solid $black;
}

.todo-priority_element + .todo-priority_element {
  margin-left: $u;
}

.todo-priority_element-active {
  background: $black;
}