@mixin list($font-size) {
  ul, ol {
    margin-top: $font-size * 0.5;
    margin-bottom: $font-size * 0.5;
    margin-left: $font-size * 1.8;
  }

  li {
    font-size: $font-size;
    line-height: $font-size * 1.215;
  }

  li + li { margin-top: $u2; }
}