@mixin header($min, $max, $index) {
  $base: $min + ($max - $min) / 6 * (6 - $index);

  h#{$index} {
    font-size: $base;
    font-weight: bold;
    line-height: $base * 1.12;
    letter-spacing: $base * -0.02;
  }
}