@import "@mixin-header";
@import "@mixin-paragraph";
@import "@mixin-list";

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
}

a {
  color: $primary;
}

@include paragraph($font-size);
@include list($font-size);

@include header(
  $font-size,
  $font-size * 2, 1);
@include header(
  $font-size,
  $font-size * 2, 2);
@include header(
  $font-size,
  $font-size * 2, 3);
@include header(
  $font-size,
  $font-size * 2, 4);
@include header(
  $font-size,
  $font-size * 2, 5);
@include header(
  $font-size,
  $font-size * 2, 6);

small {
  $font-size: 9px;
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 1);
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 2);
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 3);
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 4);
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 5);
  @include header(
    $font-size * 1.07,
    $font-size * 2.5, 6);

  h6, h5, h4, h3, h2, h1 {
    color: $grey;
    font-weight: bold;
    text-transform: uppercase;
  }
}

hr {
  border: none;
  border-top: 1px solid $grey-light;
  margin: $u4 0;
}

pre {
  background: $grey-lightest;
  padding: $u2;
}

code {
  display: inline-block;
  background: $grey-lightest;
  color: $pink;
  font-size: $font-size - 2;
  line-height: $font-size - 1;
}