.button-group {
  width: 100%;
  display: inline-block;

  .button_face {
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;
  }

  .button_text {
    font-weight: bold;
  }
}

.button-group_button--is-selected {
  .button_face {
    border-color: $red;
  }

  .button_text {
    color: $red;
  }
}