.modal {
  z-index    : 2;
  position   : absolute;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : transparentize($black, 0.8);
}

.modal_chrome {
  $h            : $u120;
  position      : absolute;
  top           : $u10;
  left          : 50%;
  width         : $h;
  margin-left   : $h/-2;
  border-radius : $u;
  background    : #fff;
}

.modal_titlebar {
  position      : relative;
  margin-bottom : $u4;
  padding       : $u $u6;

  &::after {
    content       : "";
    position      : absolute;
    right         : $u6;
    bottom        : 0;
    left          : $u6;
    border-bottom : 2px solid $black;
  }

  h1 {
    padding-top    : $u;
    padding-bottom : $u;
    font-size      : $font-size;
    line-height    : $font-size;
  }
}

.modal_content {
  padding : $u6;
}

.modal_control {
  padding : 0 $u6 $u6;

  .button {
    min-width : $u20;
  }

  .button + .button {
    margin-left : $u3;
  }
}
