.project_close {
  position : absolute;
  top      : 0;
  right    : 0;
  width    : $input-size;
  height   : $input-size;

  .icon {
    $h          : $u3;
    position    : absolute;
    top         : 50%;
    left        : 50%;
    width       : $h;
    height      : $h;
    margin-top  : -$h/2;
    margin-left : -$h/2;
  }
}

.project--is-focus {
  border-color : $red;

  .project_date,
  .project_name {
    color : $red;
  }

  .icon {
    fill : $red;
  }
}

.project_folder {
  position : absolute;
  top      : $u2;
  left     : $u2;
  width    : $icon-size;
  height   : $icon-size;
}

.project_name {
  font-size   : $font-size;
  font-weight : bold;
  line-height : $icon-size;
}

.project_date {
  font-size : $font-size;
}

.project--selected {
  border-bottom-color : $red;

  .project_name {
    color : $red;
  }

  .project_date {
    color : $red;
  }

  .icon {
    fill : $red;
  }
}
