.projects {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : $u70;
  height   : 100%;
}

.projects_add {
  position : absolute;
  top      : 0;
  right    : 0;

  .button_face {
    border-bottom : 0;
  }
}

.project {
  position      : relative;
  padding       : $u2 0 $u2 $icon-size + $u5;
  border-bottom : 1px solid #000;
  user-select   : none;
  cursor        : default;

  &:focus {
    outline : none;
  }
}
