.titlebar {
  position : relative;

  .close {
    position : absolute;
    top      : $u2;
    right    : $u2;
    width    : $input-size;
    height   : $input-size;

    .icon {
      position    : absolute;
      top         : 50%;
      left        : 50%;
      width       : $u4;
      height      : $u4;
      margin-top  : $u4/-2;
      margin-left : $u4/-2;
    }
  }
}
