.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: $u70;
  background: $black;
  bottom: 0;
  padding-top: $titlebar-size;

  h6 {
    color: #fff;
  }

  .titlebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: $black-light;
  }
}

.menu-item {
  position: relative;
  font-size: $font-size;
  line-height: $line-height;
  color: $grey-light;
  padding: $u3 $u3 $u3 $u4;
  border-bottom: 1px solid $black-light;
}

.menu-item-control {
  .menu-item_click-target {
    right: $u15;
  }

  .button_face {
    background: none;
  }
}

.menu-item_click-target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-item_control {
  position: absolute;
  right: $u2;
  top: 0;
}

.menu-item--selected {
  color: $primary;
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    top: 0;
    width: $u;
    background: $primary;
  }
}
