.todo-list {
  padding-top: $u26;
}

.todo-list_content {
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: $u26 + 2;
  right: 0;
  bottom: 0;
}

.todo-titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
