.tab {
  display: inline-block;
  height: $titlebar-size;
  cursor: default;
  border-right: 1px solid $grey-light;
  position: relative;
  user-select: none;
}

.tab--active {
  color: $primary;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: $primary;
  }
}

.tab_text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size;
  line-height: $line-height;
  padding: $u4 $u4;
}